@use "./variables" as *;
@use "./mixins" as *;

.catalog {
    @include size(66vw, 141vh);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 3vw;
    grid-row-gap: 3vh;
}

.content {
    height: 157.35vh;
    @include flex(flex, space-between, column, center);
    margin-bottom: 5vh;
    margin-right: 2vw;
}