@use "./variables" as *;
@use "./mixins" as *;

.footer {
    @include size($width-100, 6vh);
    @include font(1.2rem, 500);
    @include flex(flex, center, row, flex-start);
    position: absolute;
    bottom: 0;

    &__arrow-back-left:link, &__arrow-forward-right:link {
        @include size(2.04vw, 2.04vw);
        border-radius: 50%;
        @include flex(flex, center, row, center);
        background-color: $color-white;
        background-color: rgba(237, 237, 237, 1);
        color: black;
    }

    &__arrow-back-left:hover, &__arrow-forward-right:hover, &__arrow-back-left:active, &__arrow-forward-right:active {
        background-color: $color-violet-background;
    }

    &__image-arrow-back-left, &__image-arrow-forward-right {
        @include size(1vw, 2vh);
    }
}

.links-list {
    @include flex(flex, center, row, flex-start);
    margin: 0 2vw;
    border-radius: 20px;
    @include size(20.4vw, 2.04vw);
    background-color: rgba(237, 237, 237, 1);

    &__link:link {
        @include size(2.04vw, 2.04vw);
        border-radius: 50%;
        @include flex(flex, center, row, center);
        background-color: rgba(237, 237, 237, 1);
    }
    &__link:hover, &__link:active {
        background-color: $color-violet-background;
        color: $color-white;
    }
}