@use "./variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: $border;
    font-family: $font-style;
    text-decoration: $text-decoration;
}

html{
    font-size: 95%;
}

body{
    background-color: rgba(249, 249, 249, 0.911);
    overflow-y: scroll;
    color: $text-color;
}