*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif; 
    border: none;
    text-decoration: none;
}

html{
    font-size: 95%;
    height: 100%;
}

body{
    background-color: rgba(249, 249, 249, 0.911);
    overflow-y: scroll;
    color: black;
    height: 100%;
}

.product-card, .rating, .buttons{
    border-radius: 8px;
}

.product-card{
    display: block;
    width: 20vw;
    height: 45vh;
    background-color: #FFFFFF;
    padding-top: 2vh;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);  
}

.image{
    margin-bottom: 3vh;
    height: 25.2vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.rating, .rating-price{
    line-height: 2.8vh;
}

.rating{
    height: 100%;
    width: 3.7vw;
    background-color: #6F64F8;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.rating-price{
    height: 2.8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    margin-bottom: 1vh;
}

.price, .name, .wishlist{
    font-size: 1rem;
    font-weight: 600;
}

.price{
    margin: auto 1.3vw;      
}

.name, .information, .rating{
    margin-left: 1.3vw;
}

.name{
    margin-bottom: 0.3vh;   
}

.information{
    font-size: 0.9rem;
    font-weight: 600; 
}

.wishlist, .add{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    width: 50%;
    height: 100%;
}

.wishlist{
    border-radius: 0 0 0 1vh;     
}

.add{
    color: white;
    background-color: #6F64F8;
    border-radius: 0 0 1vh 0;
    font-size: 1rem ; 
}

.add:hover, .wishlist:hover, .rating:hover, .image:hover, button:hover{
    cursor: pointer;
}

.buttons{
    position:absolute;
    bottom:0;
    width: 100%;
    height: 4.2vh;
    background-color: #EDEDED;
}

.svg-image{
    height: 1.3vh;
    margin: 0 0.1vw;
}

.image > img{
    max-width: 90%;
}

.image-horizontal{
    margin-top: 3.5vh;
    max-height: 70%;
}