.catalog {
    width: 66vw;
    max-height: 141vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 3vw;
    grid-row-gap: 3vh;

}
.content{
    height: 157.35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

