nav{
    height: 2vh;
    width: 100%;
    display: flex;
    flex-direction: row ;
    align-items: center;
    margin-bottom: 3.3vh;
    padding-left: 1vh;
}

nav > img{
    max-height: 2vh;
    max-width: 2vw;
}

.arrow{
    height: 1.5vh;
    width: 1.5vw;
}
.nav-top:link{
    color: #7E72F2;
    font-size: 1rem;
    font-weight: 700;
}
.nav-top:hover{
    text-decoration: underline;
}
